{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1 style="color: #905cc0;">Выберите пол:</h1>
    <form action="{% url 'portfolio:index' %}" method="GET">
        <select name="gender">
            <option value="male">Мужчина</option>
            <option value="female">Женщина</option>
        </select>
        <button type="submit">Применить</button>
    </form>

    <h2 style="color: #905cc0;">Портфолио:</h2>
    <div class="portfolio-list">
        {% for profile in profiles %}
            <div class="profile-item">
                <a href="{{ profile.get_absolute_url }}" class="profile-link">
                    <div class="profile-info">
                        <p class="profile-name-age">{{ profile.user.username }}, {{ profile.age }} лет</p>
                    </div>
                    <img src="{{ profile.photo.url }}" alt="{{ profile.user.username }}" class="profile-photo">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

<style>
    .portfolio-list {
        display: flex;
        flex-wrap: nowrap; /* Предотвращаем перенос элементов на новую строку */
        justify-content: space-between;
        overflow-x: auto; /* Добавляем горизонтальный скролл при необходимости */
    }

    .profile-item {
        flex: 0 0 calc(33.33% - 20px);
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
    }

    .profile-info {
        padding: 10px;
        background-color: #f9f9f9;
    }

    .profile-name-age {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
        color: #000;
    }

    .profile-link {
        display: block;
        text-decoration: none;
    }

    .profile-photo {
        max-width: 100px;
        max-height: 100px;
        width: auto;
        height: auto;
    }
</style>
